:root {
  --page-content-max-width: 960px;
  --page-spacing: 8px;
  --main-header-font-size: 36px;
  --base-text-color: #292325;
  --header-bg-color: #fede60;
  --base-font-size: 15px;
  --base-font-family: "Source Sans Pro", sans-serif;
}

@media screen and (max-width: 1200px) {
  :root {
    --header-bg-color: rgb(32, 0, 0);
    --base-text-color: #fff;
  }
}

@media screen and (max-width: 767px) {
  :root {
    --header-bg-color: #f5cb25;
    --base-text-color: red;
    --main-header-font-size: 28px;
  }
}

@media screen and (max-width: 575px) {
  :root {
    --header-bg-color: rgb(70, 3, 87);
    --base-text-color: #fff;
  }
}
